# DevBox Unity configuration

DBU_CONTAINER_NAME="unity-dev"
DBU_CONTAINER_IMAGE="ubuntu:26.04"

DBU_UNITY_ROOT="$HOME/Unity"
DBU_UNITY_PROJECTS="$HOME/Unity/Projects"
DBU_UNITY_EDITORS="$HOME/Unity/Editors"
DBU_UNITY_DOWNLOADS="$HOME/Unity/Downloads"
DBU_UNITY_CACHE="$HOME/Unity/Cache"
DBU_UNITY_LICENSES="$HOME/Unity/Licenses"

DBU_JETBRAINS_ROOT="$HOME/JetBrains"
DBU_ANDROID_ROOT="$HOME/Android"

DBU_INSTALL_GITKRAKEN="true"
